[S3]
CALENDAR_DATA=(your bucket location)
COVID_JPN_DATA=(your bucket location)

[AWS_CREDS_ADMIN]
USER_NAME=(name of an aws admin user)
AWS_ACCESS_KEY_ID=(your credentials)
AWS_SECRET_ACCESS_KEY_ID=(your credentials)
AWS_REGION=(your region, must match bucket region)

[REDSHIFT_CLUSTER]
USER_NAME=(your user name)
PASSWORD=(your password)
CLUSTER_IDENTIFIER=(your cluster name)
ADMIN_USER_ARN=(Should be the arn of the user set in the section AWS_CREDS_ADMIN)
IAM_ROLE_NAME=(your role name)
DB_NAME=(your db name)
