[S3]
BUCKET_NAME=(your bucket name, region must match redshift cluster region)
CALENDAR_DATA_KEY=calendar.csv
COVID_JPN_DATA_KEY=covid_jpn_prefecture.csv
CALENDAR_DATA=(your bucket location, region must match redshift cluster region)
COVID_JPN_DATA=(your bucket location, region must match redshift cluster region)

[AWS_CREDS_ADMIN]
USER_NAME=(name of an aws admin user)
AWS_ACCESS_KEY_ID=(your credentials)
AWS_SECRET_ACCESS_KEY_ID=(your credentials)
AWS_REGION=(your region, will be used for redshift cluster region, must match bucket region)

[REDSHIFT_CLUSTER]
USER_NAME=(your user name)
PASSWORD=(your password)
CLUSTER_IDENTIFIER=(your cluster name)
ADMIN_USER_ARN=(Must be arn of user set in the section AWS_CREDS_ADMIN)
IAM_ROLE_NAME=(your role name)
DB_NAME=(your db name)
HOST=(your host, e.g.: dbname.abc.us-west-2.redshift.amazonaws.com)
